PIL
django==1.4.6
South==0.7.5
django-annoying==0.7.6
httpagentparser==1.0.5
-e hg+http://bitbucket.org/eXtractor/django-vkontakte-iframe/#egg=django-vkontakte-iframe

django-mediagenerator==1.11
cssutils==0.9.10b1
cssprefixer==1.4.1
-e git+http://bitbucket.org/eXtractor/django-mediagenerator-extras.git#egg=django-mediagenerator-extras

textile==2.1.5
django-markitup==1.0.0
