<div class="infoblock infoblock_artist">
    <div class="infoblock__l">
        <h2 class="infoblock__header">{{name}}</h2>
        <div class="infoblock__text">{{{bio_summary}}}</div>
        <div class="infoblock__similar">
            Похожие исполнители:
            {{#similar}}
                <span class="pseudolink nav-infoblock" data-type="artist" data-name="{{name}}">{{name}}</span>
            {{/similar}}
        </div>
        <div class="infoblock__tags">
            Теги:
            {{#tags}}
                <span class="pseudolink nav-infoblock" data-type="tag" data-name="{{name}}">{{name}}</span>
            {{/tags}}
        </div>
    </div>
    <div class="infoblock__r">
        <img class="infoblock_artist__picture" src="{{image}}" alt="" />
        <br/>
        <div class="greenbutton nav-station" data-type="similar_artists" data-name="{{name}}">Слушать похожих</div>
    </div>
    <div class="infoblock__comments"></div>
</div>