{% load i18n %}

<table class="infoblock infoblock_artist">

    <tr class="infoblock__line">
        <td class="infoblock__line__header infoblock__photo">[[#image]]<img src="[[image]]" alt="" />[[/image]]</td>
        <td class="infoblock__line__content infoblock__wiki">[[{wiki_summary}]]</td>
    </tr>

    <tr class="infoblock__line infoblock__line_stationlist">
        <td class="infoblock__line__header">{% trans "listen" %}:</td>
        <td class="infoblock__line__content">[[>tpl_partial_stationslist]]</td>
    </tr>

    <tr class="infoblock__line hidden">
        <td class="infoblock__line__header">{% trans "albums" %}:</td>
        <td class="infoblock__line__content infoblock__photos">
            <div class="infoblock__photos__inner"><div class="infoblock__photos__inner__inner">[[#albums]]<span class="pseudolink nav-infoblock" data-type="album" data-name="[[name]] ([[artist]])" title="[[name]]"><img src="[[cover]]" alt="[[ name ]]" /></span>[[/albums]]</div></div>
            [[#albums?]]<span class="pseudolink show-all-albums">{% trans "show all" %}</span>[[/albums?]]
        </td>
    </tr>

    <tr class="infoblock__line">
        <td class="infoblock__line__header">{% trans "similar artists" %}:</td>
        <td class="infoblock__line__content infoblock__artists">
            [[#similar]]
                <span class="pseudolink nav-infoblock" data-type="artist" data-name="[[name]]">[[name]]</span>
            [[/similar]]
        </td>
    </tr>

    <tr class="infoblock__line">
        <td class="infoblock__line__header">{% trans "tags" %}:</td>
        <td class="infoblock__line__content infoblock__tags">
            [[#tags]]
                <span class="pseudolink nav-infoblock" data-type="tag" data-name="[[name]]">[[name]]</span>
            [[/tags]]
        </td>
    </tr>

    <tr class="infoblock__line">
        <td class="infoblock__line__header">{% trans "more" %}:</td>
        <td class="infoblock__line__content">
            <a href="[[lastfm_url]]" target="_blank">[[{lastfm_url_text}]]</a>
        </td>
    </tr>

</table>

<div class="ad"></div>

<div class="infoblock__comments"></div>