<table class="infoblock infoblock_artist">

    <tr class="infoblock__line">
        <td class="infoblock__line__header infoblock__photo">{{#image}}<img src="{{image}}" alt="" />{{/image}}</td>
        <td class="infoblock__line__content infoblock__bio">{{{bio_summary}}}</td>
    </tr>

    <tr class="infoblock__line infoblock__line_stationlist">
        <td class="infoblock__line__header">слушать:</td>
        <td class="infoblock__line__content">{{>tpl_partial_stationslist}}</td>
    </tr>

    <tr class="infoblock__line">
        <td class="infoblock__line__header">похожие:</td>
        <td class="infoblock__line__content infoblock__similar">
            {{#similar}}
                <span class="pseudolink nav-infoblock" data-type="artist" data-name="{{name}}">{{name}}</span>
            {{/similar}}
        </td>
    </tr>

    <tr class="infoblock__line">
        <td class="infoblock__line__header">теги:</td>
        <td class="infoblock__line__content infoblock__tags">
            {{#tags}}
                <span class="pseudolink nav-infoblock" data-type="tag" data-name="{{name}}">{{name}}</span>
            {{/tags}}
        </td>
    </tr>

</table>

<div class="infoblock__comments"></div>