<div id="popup_about">


<div id="popup_about__main">
    <big>Твоёрадио</big><br/>версия {{version}}
    {{#desktop_version}}/ десктоп {{desktop_version}}{{/desktop_version}}<br/>
    <br/>
    <a href="/" target="_blank">Сайт</a> -
    <a href="http://vkontakte.ru/tvoeradio_official" target="_blank">В Контакте</a> -
    <a href="http://twitter.com/tvoeradio" target="_blank">Твиттер</a><br/>
    <br/>
    &copy; Евгений Киров, 2010&mdash;2011
</div>


<div id="popup_about__attributions">
    Иконки в&nbsp;менюшках &copy; <a href="http://p.yusukekamiyamane.com/" target="_blank" title="Простите, этого требует CC BY лицензия, а иконки и правда хорошие">Yusuke Kamiyamane</a><br/><br/>
    <div class="fright" style="padding-left: 15px;">Данные &mdash;<br/><a href="http://last.fm/" target="_blank"><img src="http://cdn.last.fm/flatness/badges/lastfm_red_small.gif" title="Last.fm требует, чтобы я разместил тут их логотип" /></a></div>
    Все аудиозаписи расположены на&nbsp;серверах &laquo;В&nbsp;Контакте&raquo; и&nbsp;загружены его пользователями. &laquo;Твоёрадио&raquo; никак не связано с ООО &laquo;В Контакте&raquo; и Last.fm Ltd.
</div>

</div>