<div class="form" id="form_tag_add" data-artist="[[artist]]" data-title="[[title]]" data-album="[[album_name]]">
    <div class="form__line">
        <label>Пометить:</label>
        <select>
            <option value="track">трек ([[title]])</option>
            [[#album_name]]<option value="album">альбом ([[album_name]])</option>[[/album_name]]
            <option value="artist">исполнителя ([[artist]])</option>
        </select>
    </div>
    <div class="form__line">
        <label>Введите не более 10 тегов (через запятую):</label>
        <input type="text" class="input_text input_text_wide" />
    </div>
    <div class="popup__buttons">
        <div class="button_blue form__submit"><button>Сохранить</button></div>
        <div class="button_gray form__cancel"><button>Отмена</button></div>
    </div>
</div>