<div id="popup_about">


<div id="popup_about__main">
    <big>Твоёрадио</big><br/>версия {{version}}
    {{#desktop_version}}/ десктоп {{desktop_version}}{{/desktop_version}}<br/>
    <br/>
    <a href="http://tvoeradio.org/" target="_blank">Сайт</a> -
    <a href="http://vkontakte.ru/tvoeradio_official" target="_blank">В Контакте</a> -
    <a href="http://twitter.com/tvoeradio" target="_blank">Твиттер</a><br/>
    <br/>
    &copy; <a href="http://twitter.com/eXtractor" target="_blank">Евгений Киров</a>, 2010&mdash;2011
</div>


<div id="popup_about__attributions">
    При участии добрых эльфов.<br/>Работает при помощи магической силы волшебного пони.<br/>
    Иконки в менюшках &copy; <a href="http://p.yusukekamiyamane.com/" target="_blank" title="Простите, этого требует CC BY лицензия, а иконки и правда хорошие">Yusuke Kamiyamane</a>
</div>

</div>