{% load i18n %}

<div>
    [[#lastfm_authorized]]
        <span class="pseudolink nav-infoblock" data-type="user" data-name="[[lastfm_user]]">Last.fm ([[lastfm_user]])</span>
    [[/lastfm_authorized]]
    [[^lastfm_authorized]]
        <span class="pseudolink" id="topnav__lastfm_auth">{% trans "Log in with Last.fm account" %}</span>
    [[/lastfm_authorized]]
    [[^desktop]]
        <a href="/desktop/" target="_blank">{% trans "Download Tvoeradio Desktop" %}</a>
    [[/desktop]]
    <span class="pseudolink" id="topnav__about">{% trans "About the app" %}</span>
    [[#desktop]]
        <span class="pseudolink fright" id="topnav__logout">{% trans "Log out" %}</span>
    [[/desktop]]
</div>