<div>
    [[#lastfm_authorized]]
        <span class="pseudolink nav-infoblock" data-type="user" data-name="[[lastfm_user]]">Last.fm ([[lastfm_user]])</span>
    [[/lastfm_authorized]]
    [[^lastfm_authorized]]
        <span class="pseudolink" id="topnav__lastfm_auth">Войти в Last.fm</span>
    [[/lastfm_authorized]]
    [[^desktop]]
        <a href="/desktop/" target="_blank">Установить на свой компьютер</a>
    [[/desktop]]
    <span class="pseudolink" id="topnav__about">О приложении</span>
    [[#desktop]]
        <span class="pseudolink fright" id="topnav__logout">Выйти</span>
    [[/desktop]]
</div>