html, body {
    background: #ffffff;
    color: #000000;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 100%;
}

ul, ol, li, table, tbody, tr, td {
    border: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.fright {
    float: right;
}

.center {
    text-align: center;
}

#mp3player {
    height: 0;
    overflow: hidden;
}

a, .pseudolink {
    color: #2B587A;
    cursor: pointer;
    text-decoration: none;
}

a:hover, .pseudolink:hover {
    text-decoration: underline;
}

.input_text {
    border: 1px solid #C0CAD5;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 3px;
    width: 200px;
}

.input_text_wide {
    display: block;
    width: 97%;
}

.menu_button {
    cursor: pointer;
    display: block;
    height: 11px;
    margin-top: 10px;
    padding: 5px 7px 7px 7px;
    right: 10px;
    position: absolute;
    top: 0;
}

.menu_button:hover span {
    text-decoration: underline;
}

.menu_button_active {
    background-image: url(../img/white50.png);
}

.menu {
    background: white;
    border: 1px solid #6792bb;
    color: #2B587A;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 32px;
    z-index: 300;
}

.menu li {
    cursor: pointer;
    display: block;
    height: 18px;
    background: 4px 4px no-repeat;
    padding: 4px 10px 0px 27px;
}

.menu li:hover {
    background-color: #DAE2E8;
}

#app-preloader {
    color: #ccc;
    position: absolute;
    text-align: center;
    top: 49%;
    width: 100%;
}

#loader_fullscreen {
    background: url(../img/loader_fullscreen.png);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 300;
}

#loader_fullscreen__i {
    background: url(../img/loader_fullscreen__i.gif) center no-repeat;
    height: 100%;
}

.button_blue, .button_gray {
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    *display: inline;
    position: relative;
    zoom: 1;
}

.button_blue button, .button_gray button {
    border: 1px solid;
    background: none;
    font-size: 11px;
    margin: 0px;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    padding: 4px 14px 4px;
    *padding: 5px 15px 3px;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    overflow: visible;
}

.button_wide {
    display: block;
}

.button_wide button {
    width: 100%;
}

.button_blue button::-moz-focus-inner,
.button_gray button::-moz-focus-inner {
    border: 0;
}

.button_blue {
    border: 1px solid #45688E;
    background: #5D81A7;
}

.button_blue button {
    border-top-color: #789ABF;
    border-bottom-color: #5980A9;
    border-left-color: #5980A9;
    border-right-color: #5980A9;
    color: #FFF;
    text-shadow:0 1px 0 #45688E;
    *border: 0;
    background: url(../img/button_vk.png) #6181a6 repeat-x top;
    background-position: 0px -16px;
    *background-position: 0px -16px;
}

.button_blue button:hover {
    background-position: 0px -8px;
}

.button_blue button:active {
    background: #5e80a5;
    border: 1px solid #5e80a5;
    position:relative;
}

.button_gray {
    border: 1px solid #b3b3b3;
    background: #e0e0e0;
}

.button_gray button {
    border-top-color: #ffffff;
    border-bottom-color: #e5e5e5;
    border-left-color: #e7e7e7;
    border-right-color: #e7e7e7;
    color: #444;
    text-shadow:0 1px 0 #ffffff;
    *border: 0;
    background: url(../img/button_vk.png) #dddddd repeat-x top;
    background-position: 0px -54px;
}

.button_gray button:hover {
    background-position: 0px -46px;
}

.button_gray button:active {
    background: #dcdcdc;
    border: 1px solid #dcdcdc;
    position:relative;
}

.stations-list {
    list-style: none;
}

.nav-station {
    cursor: pointer;
    display: block;
    padding: 4px 8px;
}

.nav-station:hover {
    background-color: #EDF1F5;
}

.tabs {
    border-bottom: 1px solid #597DA3;
    color: #2B587A;
    list-style: none;
    height: 28px;
    margin: 0;
    padding: 12px 10px 0 10px;
}

.tabs li {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    margin: 0 5px 0 0;
    padding: 5px 10px 5px 10px;
}

.tabs li.active {
    background: #597DA3;
    color: #ffffff;
}

.tabs_dark li:hover {
    background: #E1E7ED;
}

.tabs_dark {
    border-bottom: 1px solid white;
    color: #ffffff;
}

.tabs_dark li:hover {
    background: url(../img/white30.png);
}

.tabs_dark li.active {
    background: #ffffff;
    color: black;
}

#topnav {
    background: white url(../img/topnav.png) repeat-x;
    padding: 7px 5px 2px 0;
}

#topnav a,
#topnav span {
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
    padding: 3px 5px;
}

#topnav a:hover,
#topnav span:hover {
    background: #E1E7ED;
}

.boxed {
    min-height: 18px;
    list-style: none;
    padding: 4px 10px 0px 10px;
}

.boxed:hover {
    background-color: #DAE2E8;
}


.boxed_selected, .boxed_selected:hover {
    background-color: #597ea4;
    color: #ffffff;
}

#popup-overlay {
    background: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 50;
}

.mode-vk #popup-overlay {
    opacity: 0;
}

.popup {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    display: none;
    left: 50%;
    position: absolute;
    top: 40px;
    z-index: 100;
}

.popup__close {
    background: url(../img/popup__close.png) no-repeat;
    cursor: pointer;
    float: right;
    height: 17px;
    margin: 8px 8px 0px 0px;
    opacity: 0.5;
    padding: 0;
    width: 17px;
}

.popup__close:hover {
    opacity: 1;
}

.popup__title {
    background-color: #597DA3;
    border: 1px solid;
    border-color: #45688E #43658A;
    padding: 0px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.popup__title div {
    border-top: 1px solid #648CB7;
    padding: 6px 10px 8px 10px;
}

.popup__content {
    background-color: white;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

#popup_about__main {
    margin-top: 20px;
    text-align: center;
}

#popup_about__main big {
    font-size: 200%;
}

#popup_about__attributions {
    font-size: 9px;
    margin-top: 30px;
    color: #999;
}

#popup_lastfm__auth1, #popup_lastfm__auth2 {
    padding: 30px 0;
    text-align: center;
}

.popup__buttons {
    margin-top: 15px;
    text-align: right;
}

.popup__buttons div {
    margin-left: 10px;
}

.form__line {
    margin-bottom: 10px;
}

.form__line label {
    display: block;
}

.form__input {
    border: 1px solid #666;
}

#search-suggest {
    background: white;
    border: 1px solid #6792bb;
    display: none;
    position: absolute;
    top: 64px;
    z-index: 300;
}

#search-suggest div {
    clear: both;
}

#search-suggest div span {
    color:  #666666;
    display: block;
    float: left;
    padding: 4px 10px 0px 10px;
    text-align: right;
    width: 78px;
}

#search-suggest div ul {
    float: left;
    list-style: none;
    min-width: 200px;
}

#search-suggest div ul li {
    cursor: pointer;
    display: block;
    min-height: 18px;
    background: 4px 4px no-repeat;
    padding: 4px 14px 0px 10px;
}

#search-suggest div ul li:hover {
    background-color: #DAE2E8;
}

#search-suggest div ul li.active {
    background-color: #597ea4;
    color: #ffffff;
}

#dashboard {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0;
}

.dashboard__block {
    clear: both;
    padding: 0 0 0 10px;
}

.dashboard__tags {
    color: #C0CAD5;
    padding: 0 10px 10px 10px;
    text-align: center;
}

.dashboard__tags .nav-infoblock {
    margin: 0 2px;
}

#dashboard .nav-infoblock,
.infoblock__photos .nav-infoblock {
    background: none;
    display: inline-block;
    opacity: 0.6;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

#dashboard .nav-infoblock:hover,
.infoblock__photos .nav-infoblock:hover {
    opacity: 1;
}

.dashboard__artists {
    height: 50px;
    left: -10px;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    white-space: nowrap;
}

.dashboard__artists img {
    height: 50px;
    width: 50px;
}

.dashboard__cell {
    float: left;
    width: 50%;
}

.dashboard__cell__title {
    background: #E1E7ED;
    color: #45688E;
    font-weight: bold;
    margin-right: 10px;
    outline: none;
    padding: 4px 8px;
}

.dashboard__cell div {
    margin-right: 10px;
}

.dashboard__cell__title span {
    color: #AAB7C5;
    float: right;
    font-weight: bold;
}

#search-result {
    display: none;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.page {
    display: none;
}

#page_tune {
    display: block;
    min-height: 100px;
}

#search-widget {
    background-position: bottom;
    height: 21px;
    padding: 15px 10px;
    position: relative;
    white-space: nowrap;
}

#search-widget__label {
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    margin-right: 15px;
    text-align: right;
    width: 100px;
}

#search-widget__text {
    background-color: #FFFFFF;
    background-image: linear-gradient(top, #efefef 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #efefef 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(top, #efefef 0%, #ffffff 100%);
    background-image: -ms-linear-gradient(top, #efefef 0%, #ffffff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #ffffff));
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    margin: 0;
}

#search-widget__clear {
    background: url(../img/search-widget__clear.gif) center center no-repeat;
    cursor: pointer;
    display: none;
    height: 11px;
    position: absolute;
    right: 27px;
    width: 11px;
    top: 20px;
}

h2 {
    border-bottom: 1px solid #DAE1E8;
    color: #36638E;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    padding-bottom: 5px;
}

.infoblock {
    border-collapse:collapse;
    width: 100%;
}

.infoblock td {
    padding: 8px;
    vertical-align: top;
}

.infoblock .infoblock__line:first-child td {
    padding-top: 0;
}

.infoblock .infoblock__line:last-child td {
    padding-bottom: 0;
}

.infoblock td.infoblock__line__header {
    color: #777;
    padding-right: 10px !important;
    text-align: right;
    width: 94px;
}

.infoblock td.infoblock__photo,
.infoblock td.infoblock__photos.infoblock__line__header {
    padding-left: 0;
}

.infoblock td.infoblock__photos.infoblock__line__content {
    padding-right: 0;
}

.infoblock td.infoblock__photo img {
    max-width: 102px;
}

.infoblock td.infoblock__photos .nav-infoblock,
.infoblock td.infoblock__photos img {
    height: 47px;
    width: 47px;
}

.infoblock__artists span:after,
.infoblock__tags span:after {
    content: ',';
}

.infoblock__artists span:last-child:after,
.infoblock__tags span:last-child:after {
    content: '';
}

.infoblock__comments {
    margin-top: 15px;
}

.infoblock__line_stationlist {
    background: #f1f1f1;
}

.infoblock__line_stationlist td.infoblock__line__header {
    color: #000;
    padding: 16px 0;
}

.infoblock__line_stationlist td.infoblock__line__content {
    padding: 12px 4px 12px 0;
}

.infoblock__line_itisyou td.infoblock__line__header {
    vertical-align: middle;
}

.infoblock-loader {
    background: url(../img/loader_big.gif) center no-repeat;
    padding: 80px;
}

#controls {
    color: #ffffff;
    height: 246px;
}

#station {
    height: 46px;
    position: relative;
}

#station_change {
    cursor: pointer;
    margin: 17px 0 0 10px;
    position: absolute;
}

#station_change span {
    margin-left: 5px;
}

#station_change:hover span {
    text-decoration: underline;
}

#station_name {
    font-size: 14px;
    margin: 15px 0 0 130px;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    position: absolute;
}

#trackinfo {
    height: 117px;
    position: relative;
}

#trackinfo div {
    left: 0;
    position: absolute;
    top: 0;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

#album_cover {
    height: 100px;
    width: 100px;
    margin: 9px 0 0 10px;
}

#track_artist {
    font-size: 24px;
    margin: 10px 0 0 130px;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

#track_name {
    font-size: 32px;
    margin: 40px 0 0 130px;
}

#album_name {
    font-size: 14px;
    margin: 85px 0 0 130px;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

#album_artist {
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

#buttons {
    height: 38px;
    margin: 8px 0 0 123px;
}

.control_button {
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 32px;
}

.control_button:hover {
    background-position: center;
}

.control_button:active {
    background-position: bottom;
}

#button_next {
    background-image: url(../img/button_next.png);
}

#button_play {
    background-image: url(../img/button_play.png);
    display: none;
}

#button_pause {
    background-image: url(../img/button_pause.png);
}

#button_previous {
    background-image: url(../img/button_previous.png);
}

.control_slider {
    background-image: url(../img/control_slider.png);
    background-repeat: no-repeat;
    border-top: 1px solid white;
    cursor: pointer;
    float: right;
    height: 10px;
    margin-right: 10px;
    margin-top: 16px;
    position: relative;
    z-index: 10;
}

.control_slider span {
    font-size: 9px;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: -13px;
}

#slider_volume {
    background-position: 80% 0;
    width: 100px;
}

#slider_seek {
    border-top-color: #999999;
    width: 350px;
}

#slider_seek div {
    border-top: 1px solid white;
    height: 0;
    position: relative;
    top: -1px;
    width: 0%;
}

#controls .tabs {
    padding-left: 120px;
}

#trackinfo_panel {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.tabcontent {
    display: none;
}

#tabcontent_tabs_player__info {
    display: block;
}

#tabcontent_tabs_player__playlist .boxed {
    cursor: pointer;
}

#login {
    left: 50%;
    margin-left: -100px;
    position: absolute;
    width: 200px;
    top: 40%;
}