<div id="popup__choose_friend">
    <div class="popup__qsearch">
        быстрый поиск: <input type="text" class="input_text" />
    </div>
    <div class="people-list">
        {{#friends}}
            <div class="people-list__item pseudolink" data-uid="{{uid}}" data-searchstr="{{first_name}} {{last_name}}">
                <img src="{{ photo }}" alt="" />
                <span class="people-list__item__first">{{first_name}}</span>
                <span class="people-list__item__last">{{last_name}}</span>
            </div>
        {{/friends}}
        <div class="clear"></div>
    </div>
</div>
