html, body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0px;
    padding: 0px;
}

html, body {
    background: #ffffff;
    color: #000000;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

p, ul, ol {
    line-height: 130%;
    padding-bottom: 15px;
}

ul, ol {
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding-bottom: 15px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 13px;
}

a {
    color: #2B587A;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.shadow {
    box-shadow: 0 0 20px #666;
}

#header {
    background: #2B587A;
    margin-bottom: 20px;
}

#header h1 {
    color: #ffffff;
    font-family: Lobster, cursive;
    font-size: 44px;
    padding: 20px 0;
}

#header h1 a {
    color: #ffffff;
    text-decoration: none;
}

#header h1,
#wrapper {
    margin: 0 auto;
    width: 900px;
}

#content {
    float: left;
    width: 630px;
}

#sidebar {
    float: right;
    width: 220px;
}
