html, body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0px;
    padding: 0px;
}

body {
    background: #f7f7f7;
    color: #000000;
    font-size: 14px;
    font-family: "PT Serif", "Times New Roman", serif;
    /*font-size: 16px;*/
}

p, ul, ol {
    line-height: 130%;
    padding: 8px 0;
}

ul, ol {
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 15px 0 8px 0;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 13px;
}

pre {
    background: #f1f1f1;
    padding: 10px;
}

a {
    color: #2B587A;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.shadow {
    box-shadow: 0 0 20px rgba(0,0,0,.6);
}

#header {
    background: #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
}

#header h1 a {
    background: url(../img/tvoeradio-logo.png);
    color: #ddd;
    font-size: 0;
    display: block;
    height: 50px;
    margin: 0 auto;
    text-decoration: none;
    width: 210px;
}

#wrapper {
    margin: 0 auto;
    padding-left: 250px;
    width: 880px;
}


#content {
    float: left;
    width: 630px;
}

#sidebar {
    float: right;
    opacity: 0;
    padding-top: 8px;
    width: 220px;
}

.chooseyourdestiny {
    float: left;
    min-height: 32px;
    width: 50%;
}

.chooseyourdestiny img {
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}

.bluebutton {
    background: #2B587A;
    color: #fff;
    display: block;
    font-size: 200%;
    margin: 0 auto;
    padding: 15px 20px;
    text-align: center;
}

.smallgray,
.smallgray a {
    color: #999;
    font-size: 10px;
}


.error .whitemessage {
    margin: 0 auto;
    width: 560px;
}

.error .browsers {
    list-style: none;
    margin-left: 0;
    padding-top: 0;
}

.error .browsers li {
    background: left center no-repeat;
    display: block;
    padding: 2px 0 2px 20px;
}

.error .browsers li.chrome {
    background-image: url(../img/icons/chrome.png);
}

.error .browsers li.firefox {
    background-image: url(../img/icons/firefox.png);
}

.error .browsers li.opera {
    background-image: url(../img/icons/opera.png);
}

.error .browsers li.safari {
    background-image: url(../img/icons/safari.png);
}