{% extends 'base.html' %}

{% load media %}

{% block css %}
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Lobster&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% include_media 'website.css' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?42"></script>
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js">{"lang": "ru"}</script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
        VK.init({apiId: {{ settings.VK_APP_ID }}});
        VK.Widgets.Group("vk_groups", {mode: 2, width: "auto", height: "200"}, 16049689);
        VK.Widgets.Like("vk_like", {type: "button", text: "Твоёрадио — автоматическое персональное радио на основе твоих музыкальных интересов"});
    </script>
{% endblock %}

{% block body %}
    <div id="header">
        <h1><a href="/">Твоёрадио</a></h1>
    </div>

    <div id="wrapper">
        <div id="content" class="{% block content_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
        {#<div id="sidebar">
            <div id="vk_groups"></div>
            <br/>
            <div id="vk_like"></div>
            <br/>
            <div><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tvoeradio.org/" data-text="Твоёрадио — автоматическое персональное радио на основе твоих музыкальных интересов" data-count="horizontal" data-via="tvoeradio" data-lang="ru">Твитнуть</a></div>
            <br/>
            <div class="g-plusone" data-size="medium" data-href="http://tvoeradio.org/"></div>
        </div>#}
    </div>
{% endblock %}

