{% spaceless %}
<!DOCTYPE html>

{% load media %} {# external libs #}

<html prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% block title_text %}{% endblock %} &mdash; Твоёрадио{% endblock %}</title>
    <link rel="icon" href="{% media_url 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% media_url 'img/favicon.ico' %}" type="image/x-icon" />
    <link title="Твоёрадио: новости" type="application/atom+xml" rel="alternate" href="http://search.twitter.com/search.atom?q=from%3Atvoeradio"/>
    <meta property="og:title" content="Твоёрадио"/>
    <meta property="og:image" content="{% media_url 'img/logo256.png' %}"/>
    <meta property="og:description" content="Твоёрадио — автоматическое персональное радио на основе твоих музыкальных интересов"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:url" content="http://tvoeradio.org/"/>
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
{% if not settings.DEBUG %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24510271-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
{% endif %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
{% block js %}{% endblock %}
</body>
</html>
{% endspaceless %}