{% spaceless %}
<!DOCTYPE html>

{% load media %} {# external libs #}

<html prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% block title_text %}{% endblock %} &mdash; Твоёрадио{% endblock %}</title>
    <link rel="icon" href="{% media_url 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% media_url 'img/favicon.ico' %}" type="image/x-icon" />
    <link title="Твоёрадио: новости" type="application/atom+xml" rel="alternate" href="http://search.twitter.com/search.atom?q=from%3Atvoeradio"/>
    <meta property="og:title" content="Твоёрадио"/>
    <meta property="og:image" content="{% media_url 'img/logo256.png' %}"/>
    <meta property="og:description" content="Твоёрадио — персональное радио на основе твоих музыкальных интересов"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:url" content="http://tvoeradio.org/"/>
    <meta property="fb:app_id" content="410274719042092"/>
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}

{% block analytics %}
    {% if not settings.DEBUG %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24510271-9']);
          _gaq.push(['_setDomainName', 'tvoeradio.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter17580439 = new Ya.Metrika({id:17580439, enableAll: true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/17580439" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
{% endblock %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("jquery", "1.7");
    google.load("jqueryui", "1.8");
</script>
{% block js %}{% endblock %}
</body>
</html>
{% endspaceless %}