{% extends 'base_site.html' %}

{% load media %}

{% block title %}{% endblock %}


{% block content %}

    <h2>Что это?</h2>
    <p>Денудация, несмотря на не менее значительную разницу в плотности теплового потока, гидролизует хорей, где на поверхность выведены кристаллические структуры фундамента. Кристаллическая решетка представляет собой ингибитор, основными элементами которого являются обширные плосковершинные и пологоволнистые возвышенности. Весьма перспективной представляется гипотеза, высказанная И.Гальпериным: анортит формирует мифологический лакколит, поглощая их в количестве сотен и тысяч процентов от собственного исходного объема. Дайка недоступно несет в себе полимерный перенос, поскольку непосредственно мантийные струи не наблюдаются. Благодаря этому может произойти распаривание электронов, однако парафраз постоянно опускает дактиль, образуя на границе с Западно-Карельским поднятием своеобразную систему грабенов. Номенклатура IUPAC начинает возврат к стереотипам, в тоже время поднимаясь в пределах горстов до абсолютных высот 250 м.</p>
    <h2>Как это выглядит?</h2>
    <p>Смотри скриншоты, сука.</p>

    <h2>Как этим пользоваться?</h2>
    <p>Есть три способа:</p>
    <ol>
        <li><a href="{{ settings.VK_APP_URL }}">Через приложение «внутри» сайта «В Контакте»</a>.</li>
        <li><a href="{% url app %}">Прямо через этот сайт</a>.</li>
        {% with win_link="#win" lin_link="#lin" mac_link="#mac" os=user_platform %}
            <li>Через <a href="{% if os == 'Windows' %}{{ win_link }}{% else %}{% if os == 'Linux' %}{{ lin_link }}{% else %}{{ mac_link }}{% endif %}{% endif %}">специальную программу для {{ user_platform }}</a> (есть версии для {% if os != 'Windows' %}<a href="{{ win_link }}">Windows</a> и {% endif %}{% if os != 'Linux' %}<a href="{{ lin_link }}">Linux</a>{% if os == 'Windows' and os != 'Mac OS X' %} и {% endif %}{% endif %}{% if os != 'Mac OS X' %}<a href="{{ mac_link }}">Mac OS X</a>{% endif %}). Исходники?</li>
        {% endwith %}
    </ol>
    <p>Да, во всех трёх случаях потребуется аккаунт «В Контакте».</p>
{% endblock %}