{% extends 'base.html' %}

{% load media %} {# external libs #}
{% load jsonize include_ich radio %} {# common app #}

{% block title %}Твоёрадио{% endblock %}
{% block body_class %}mode-{{ mode }}{% endblock %}
{% block css %}{% include_media 'radio.css' %}{% endblock %}

{% block js %}
    <script type="text/javascript">
        var config = {
            'app_version': '{{ tvoeradio_version }}',
            'app_domain': '{{ app_domain }}',
            'mode': '{{ mode }}',
            'lastfm_api_url': '{{ settings.LASTFM_API_URL }}',
            'lastfm_api_key': '{{ settings.LASTFM_API_KEY }}',
            'lastfm_api_secret': '{{ settings.LASTFM_API_SECRET|reorder_letters }}',
            'vk_api_id': '{{ settings.VK_APP_ID }}',
            'vk_api_url': '{{ settings.VK_APP_URL }}',
            'jplayer_swfpath': '{% media_url 'js/3rdparty/jplayer/Jplayer.swf' %}',
            'first_name': '{{ user.first_name }}',
            'last_name': '{{ user.last_name }}'
        }
    </script>
    {% if mode == 'vk' %}
        <script src="http://vkontakte.ru/js/api/xd_connection.js?2" type="text/javascript"></script>
    {% else %}
        <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
    {% endif %}
    {% include_media 'radio.js' %}
    <script type="text/javascript">
        userdata.bans.list = {{ bans|jsonize }};
        userdata.favorited_stations.list = {{ favorited_stations|jsonize }};
        userdata.recent_stations.list = {{ recent_stations|jsonize }};
    </script>
{% endblock %}

{% block body %}
    <div id="app-preloader">
        Загрузка…
    </div>

    <div id="loader_fullscreen">
        <div id="loader_fullscreen__cancel" class="button_gray"><button>Отмена</button></div>
    </div>
    <div id="notification"></div>
    <div id="popup-overlay"></div>
    <div id="mp3player"></div>

    <div style="display:none" id="app-content">

        {% csrf_token %}

        {% include_ich 'radio/ich/infoblock_artist.html' %}
        {% include_ich 'radio/ich/infoblock_tag.html' %}
        {% include_ich 'radio/ich/infoblock_user.html' %}
        {% include_ich 'radio/ich/playlist.html' %}
        {% include_ich 'radio/ich/popup.html' %}
        {% include_ich 'radio/ich/popup__about.html' %}
        {% include_ich 'radio/ich/popup__choose_friend.html' %}
        {% include_ich 'radio/ich/popup__lastfm_auth1.html' %}
        {% include_ich 'radio/ich/popup__lastfm_auth2.html' %}
        {% include_ich 'radio/ich/popup__ban_add.html' %}
        {% include_ich 'radio/ich/popup__tag_add.html' %}
        {% include_ich 'radio/ich/stationslist.html' partial %}
        {% include_ich 'radio/ich/tabcontent_tabs_player__buy.html' %}
        {% include_ich 'radio/ich/topnav.html' %}

        <div class="popup">
            <div class="popup__close">&nbsp;</div>
            <div class="popup__title"><div></div></div>
            <div class="popup__content"></div>
        </div>

        <div id="page_tune" class="page">

            <div id="topnav"></div>

            <div id="search-widget">
                <div id="search-widget__clear"></div>
                <select id="search-widget__type">
                    <option value="artist">исполнитель</option>
                    <option value="tag">тег</option>
                    <option value="user">пользователь</option>
                </span>
                <input id="search-widget__name" type="text" class="input_text" />
                {% if just_registered %}
                    <div id="welcome"><div id="welcome__i"></div>Начать работу можно с поисковой строки:<br/>введите здесь имя любимого исполнителя и нажмите Enter.</div>
                {% endif %}
            </div>

            <div id="dashboard">

                <div class="dashboard__block dashboard__tags">
                    {% for tag in top_tags %}
                        <span style="font-size: {{ tag.size }}%" class="pseudolink nav-infoblock" data-type="tag" data-name="{{ tag.name }}">{{ tag.name }}</span>
                    {% endfor %}
                </div>

                <div class="dashboard__block dashboard__artists">
                    {% for artist in top_artists %}
                        <span class="pseudolink nav-infoblock" data-type="artist" data-name="{{ artist.name }}"><img src="{{ artist.image }}" alt="{{ artist.name }}" title="{{ artist.name }}" /></span>
                    {% endfor %}
                </div>


                <div class="clear"></div>
                <div class="dashboard__block">
                    <div class="dashboard__cell" id="dashboard__cell_stations_favorited">
                        <div class="dashboard__cell__title"><span class="pseudolink">всё</span>Последнее в избранном</div>
                        <div class="dashboard__cell__content"></div>
                    </div>
                    <div class="dashboard__cell" id="dashboard__cell_stations_recent">
                        <div class="dashboard__cell__title">Последнее прослушанное</div>
                        <div class="dashboard__cell__content"></div>
                    </div>
                </div>
                <div class="clear"></div>

                {% if mode != 'vk' %}
                <div id="ad"><a href="" target="_blank"></a><span></span></div>
                {% endif %}
            </div>

            <div id="search-result">

            </div>


        </div>

        <div id="page_player" class="page">

            <div id="controls">

                <div id="station">
                    <span id="station_change">&#9664; <span>сменить волну</span></span>
                    <div id="station_name"></div>
                    <span id="menu_station_button" class="menu_button"><span>Станция</span> &#9660;</span>
                    <ul id="menu_station" class="menu">
                        <li id="menu_station__onlysimilar" style="background-image:url({% media_url 'img/icons/checkbox-on.png' %})">В том числе «<span></span>»</li>
                        <li id="menu_station__notonlysimilar" style="background-image:url({% media_url 'img/icons/checkbox-off.png' %})">В том числе «<span></span>»</li>
                        <li id="menu_station__includeremixes" style="background-image:url({% media_url 'img/icons/checkbox-on.png' %})">Исключить ремиксы</li>
                        <li id="menu_station__excluderemixes" style="background-image:url({% media_url 'img/icons/checkbox-off.png' %})">Исключить ремиксы</li>
                        <li id="menu_station__addfavorite" style="background-image:url({% media_url 'img/icons/star--plus.png' %})">Добавить в избранное</li>
                        <li id="menu_station__removefavorite" style="background-image:url({% media_url 'img/icons/star--minus.png' %})">Убрать из избранного</li>
                        <li id="menu_station__poststatus" style="background-image:url({% media_url 'img/icons/balloon-white.png' %})">В статус</li>
                        <li id="menu_station__postwall" style="background-image:url({% media_url 'img/icons/wall-brick.png' %})">Другу на стену</li>
                    </ul>
                </div>

                <div id="trackinfo">
                    <img id="album_cover" alt="" src="{% media_url 'img/blank.gif' %}" />
                    <div id="track_artist"></div>
                    <div id="track_name"></div>
                    <div id="album_name"><span id="album_artist"></span></div>
                    <span id="menu_track_button" class="menu_button"><span>Песня</span> &#9660;</span>
                    <ul id="menu_track" class="menu">
                        <li id="menu_track__love" class="menu_track__lastfm" style="background-image:url({% media_url 'img/icons/heart.png' %})">Last.fm: Нравится</li>
                        <li id="menu_track__tag" class="menu_track__lastfm" style="background-image:url({% media_url 'img/icons/tag-label-gray.png' %})">Last.fm: Добавить теги</li>
                        <!--<li id="menu_track__toplaylist" class="menu_track__lastfm" style="background-image:url({% media_url 'img/icons/document-music-playlist.png' %})">Last.fm: Добавить в плейлист</li>-->
                        <li id="menu_track__addaudio" style="background-image:url({% media_url 'img/icons/music--plus.png' %})">В «Мои аудиозаписи»</li>
                        <li id="menu_track__poststatus" style="background-image:url({% media_url 'img/icons/balloon-white.png' %})">В статус</li>
                        <li id="menu_track__postwall" style="background-image:url({% media_url 'img/icons/wall-brick.png' %})">Другу на стену</li>
                        <li id="menu_track__ban" style="background-image:url({% media_url 'img/icons/prohibition.png' %})">Забанить</li>
                    </ul>
                </div>

                <div id="buttons">
                    <div id="button_previous" class="control_button" title="Предыдущий трек"></div>
                    <div id="button_pause" class="control_button" title="Пауза"></div>
                    <div id="button_play" class="control_button" title="Продолжить"></div>
                    <div id="button_next" class="control_button" title="Следующий трек"></div>
                    <div id="slider_volume" class="control_slider" title="Громкость"></div>
                    <div id="slider_seek" class="control_slider"><div id="slider_load"></div><div id="slider_pos"></div><span></span></div>
                </div>

                <ul class="tabs tabs_dark" id="tabs_player">
                    <li class="active" id="tabs_player__info">Об исполнителе</li>
                    <li id="tabs_player__lyrics">Текст песни</li>
                    <!-- <li id="tabs_player__buy">Купить</li> -->
                    <li id="tabs_player__comments">Комментарии к песне</li>
                    <li id="tabs_player__playlist">История</li>
                </ul>

            </div>



            <div id="trackinfo_panel">
                <div class="tabcontent" id="tabcontent_tabs_player__info"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__lyrics"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__buy"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__comments"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__playlist"></div>
            </div>

        </div>

        {% if mode == 'vk' %}
        <div id="ad"><a href="" target="_blank"></a><span></span></div>
        {% endif %}

    </div>

{% endblock %}
