{% extends 'base.html' %}

{% load media i18n %} {# external libs #}
{% load jsonize include_ich radio %} {# common app #}

{% block title %}{% trans "Tvoeradio" %}{% endblock %}
{% block body_class %}mode-{{ mode }}{% endblock %}
{% block css %}{% include_media 'radio.css' %}{% endblock %}

{% block js %}
    <script type="text/javascript">
        var config = {
            'app_version': '{{ tvoeradio_version }}',
            'app_domain': '{{ app_domain }}',
            'mode': '{{ mode }}',
            'lastfm_api_url': '{{ settings.LASTFM_API_URL }}',
            'lastfm_api_key': '{{ settings.LASTFM_API_KEY }}',
            'lastfm_api_secret': '{{ settings.LASTFM_API_SECRET|reorder_letters }}',
            'vk_api_id': '{{ settings.VK_APP_ID }}',
            'vk_api_url': '{{ settings.VK_APP_URL }}',
            'jplayer_swfpath': '{% media_url "js/3rdparty/jplayer/Jplayer.swf" %}',
            'first_name': '{{ user.first_name }}',
            'last_name': '{{ user.last_name }}',
            'user_id': '{{ user.username }}',
            'images': {
                'disc': '{% media_url "img/icons/disc.png" %}'
            }
        }
    </script>
    {% if mode == 'vk' %}
        <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
        <!-- creara -->
        <script src="http://img.creara-media.ru/js/v3/cmblockvk.js"></script>
        <!-- /creara -->
    {% else %}
        <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    {% endif %}
    {% include_media 'radio.js' %}
    <script type="text/javascript">
        userdata.bans.list = {{ bans|jsonize }};
        userdata.favorited_stations.list = {{ favorited_stations|jsonize }};
        userdata.recent_stations.list = {{ recent_stations|jsonize }};
    </script>
{% endblock %}

{% block body %}
    <div id="app-preloader">
        {% trans "Loading…" %}
    </div>

    <div id="loader_fullscreen">
        <div id="loader_fullscreen__cancel" class="button_gray"><button>{% trans "Cancel" %}</button></div>
    </div>
    <div id="notification"></div>
    <div id="popup-overlay"></div>
    <div id="mp3player"></div>

    <div style="display:none" id="app-content">

        {% csrf_token %}

        {% include_ich 'radio/ich/infoblock_artist.html' %}
        {% include_ich 'radio/ich/infoblock_album.html' %}
        {% include_ich 'radio/ich/infoblock_tag.html' %}
        {% include_ich 'radio/ich/infoblock_user.html' %}
        {% include_ich 'radio/ich/playlist.html' %}
        {% include_ich 'radio/ich/popup.html' %}
        {% include_ich 'radio/ich/popup__about.html' %}
        {% include_ich 'radio/ich/popup__choose_friend.html' %}
        {% include_ich 'radio/ich/popup__lastfm_auth1.html' %}
        {% include_ich 'radio/ich/popup__lastfm_auth2.html' %}
        {% include_ich 'radio/ich/popup__ban_add.html' %}
        {% include_ich 'radio/ich/popup__tag_add.html' %}
        {% include_ich 'radio/ich/stationslist.html' partial %}
        {% include_ich 'radio/ich/tabcontent_tabs_player__buy.html' %}
        {% include_ich 'radio/ich/topnav.html' %}

        <div class="popup">
            <div class="popup__close">&nbsp;</div>
            <div class="popup__title"><div></div></div>
            <div class="popup__content"></div>
        </div>

        {% if mode == 'vk' %}
            <!-- creara -->
            <div id='cmBannerBlock'></div>
            <!-- /creara -->
        {% endif %}

        <div id="page_tune" class="page">

            <div id="now-playing">
                <div id="back-to-player">
                    <img class="album_cover" alt="" src="{% media_url 'img/blank.gif' %}" />
                    <div class="track_artist"></div>
                    <div class="track_name"></div>
                    <div class="album_name"></div>
                </div>
                <div id="now-playing__buttons">
                    <div class="control_button button_pause" title="{% trans "Pause" %}"></div>
                    <div class="control_button button_play" title="{% trans "Resume" %}"></div>
                    <div class="control_button button_next" title="{% trans "Next track" %}"></div>
                    <div class="control_button button_stop" title="{% trans "Stop" %}"></div>
                </div>
            </div>

            <div id="topnav"></div>

            <div id="search-widget">
                <div id="search-widget__clear"></div>
                <select id="search-widget__type">
                    <option value="artist">{% trans "artist" %}</option>
                    <option value="album">{% trans "album" %}</option>
                    <option value="tag">{% trans "tag" %}</option>
                    <option value="user">{% trans "user" %}</option>
                </span>
                <input id="search-widget__name" type="text" class="input_text" />
                {% if just_registered %}
                    <div id="welcome"><div id="welcome__i"></div>{% trans "Start right here:<br/>type your favorite artist’s name and press Enter." %}</div>
                {% endif %}
            </div>

            <div id="dashboard">


                <div class="dashboard__block dashboard__tags">
                    {% for tag in top_tags %}
                        <span style="font-size: {{ tag.size }}%" class="pseudolink nav-infoblock" data-type="tag" data-name="{{ tag.name }}">{{ tag.name }}</span>
                    {% endfor %}
                </div>

                <div class="dashboard__block dashboard__artists">
                    {% for artist in top_artists %}
                        <span class="pseudolink nav-infoblock" data-type="artist" data-name="{{ artist.name }}"><img src="{{ artist.image }}" alt="{{ artist.name }}" title="{{ artist.name }}" /></span>
                    {% endfor %}
                </div>

                <div class="clear"></div>
                <div class="dashboard__block">
                    <div class="dashboard__cell" id="dashboard__cell_stations_favorited">
                        <div class="dashboard__cell__title"><span class="pseudolink">{% trans "view all" %}</span>{% trans "Favorite stations" %}</div>
                        <div class="dashboard__cell__content"></div>
                    </div>
                    <div class="dashboard__cell" id="dashboard__cell_stations_recent">
                        <div class="dashboard__cell__title">{% trans "Recent stations" %}</div>
                        <div class="dashboard__cell__content"></div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="ad"></div>

            </div>

            <div id="search-result">

            </div>


        </div>

        <div id="page_player" class="page">

            <div id="controls">

                <div id="station">
                    <span id="station_change">&#9664; <span>{% trans "back to search" %}</span></span>
                    <div id="station_name"></div>
                    <span id="menu_station_button" class="menu_button"><span>{% trans "Station" %}</span> &#9660;</span>
                    <ul id="menu_station" class="menu">
                        <li id="menu_station__onlysimilar" style="background-image:url({% media_url 'img/icons/checkbox-on.png' %})">{% trans "Including <span></span>" %}</li>
                        <li id="menu_station__notonlysimilar" style="background-image:url({% media_url 'img/icons/checkbox-off.png' %})">{% trans "Including <span></span>" %}</li>
                        <li id="menu_station__includeremixes" style="background-image:url({% media_url 'img/icons/checkbox-on.png' %})">{% trans "Exclude remixes" %}</li>
                        <li id="menu_station__excluderemixes" style="background-image:url({% media_url 'img/icons/checkbox-off.png' %})">{% trans "Exclude remixes" %}</li>
                        <li id="menu_station__addfavorite" style="background-image:url({% media_url 'img/icons/star--plus.png' %})">{% trans "Add to favorites" %}</li>
                        <li id="menu_station__removefavorite" style="background-image:url({% media_url 'img/icons/star--minus.png' %})">{% trans "Remove from favorites" %}</li>
                        <li id="menu_station__poststatus" style="background-image:url({% media_url 'img/icons/balloon-white.png' %})">{% trans "Share on my page" %}</li>
                        <li id="menu_station__postwall" style="background-image:url({% media_url 'img/icons/wall-brick.png' %})">{% trans "Share with friend" %}</li>
                    </ul>
                </div>

                <div id="trackinfo">
                    <img class="album_cover" alt="" src="{% media_url 'img/blank.gif' %}" />
                    <div class="track_artist"></div>
                    <div class="track_name"></div>
                    <div class="album_name"><span class="album_artist"></span></div>
                    <span id="menu_track_button" class="menu_button"><span>{% trans "Track" %}</span> &#9660;</span>
                    <ul id="menu_track" class="menu">
                        <li id="menu_track__love" class="menu_track__lastfm" style="background-image:url({% media_url 'img/icons/heart.png' %})">{% trans "Last.fm: Like" %}</li>
                        <li id="menu_track__tag" class="menu_track__lastfm" style="background-image:url({% media_url 'img/icons/tag-label-gray.png' %})">{% trans "Last.fm: Tag" %}</li>
                        <li id="menu_track__addaudio" style="background-image:url({% media_url 'img/icons/music--plus.png' %})">{% trans "Add to My Music on VK" %}</li>
                        <li id="menu_track__poststatus" style="background-image:url({% media_url 'img/icons/balloon-white.png' %})">{% trans "Share on my page" %}</li>
                        <li id="menu_track__postwall" style="background-image:url({% media_url 'img/icons/wall-brick.png' %})">{% trans "Share with friend" %}</li>
                        <li id="menu_track__ban" style="background-image:url({% media_url 'img/icons/prohibition.png' %})">{% trans "Ban" %}</li>
                    </ul>
                    <a href="" id="fuzy" target="_blank"><img src="http://fuzy.ru/i/identity/fuzy_logo_140x27_brown.png" title="Икспиримент!" /></a>
                </div>

                <div id="buttons">
                    <div class="control_button button_previous" title="{% trans "Previous track" %}"></div>
                    <div class="control_button button_pause" title="{% trans "Pause" %}"></div>
                    <div class="control_button button_play" title="{% trans "Resume" %}"></div>
                    <div class="control_button button_next" title="{% trans "Next track" %}"></div>
                    <div class="control_slider slider_volume" title="{% trans "Volume" %}"></div>
                    <div class="control_slider slider_seek"><div class="slider_load"></div><div class="slider_pos"></div><span></span></div>
                </div>

                <ul class="tabs tabs_dark" id="tabs_player">
                    <li class="active" id="tabs_player__info">{% trans "About the artist" %}</li>
                    <li id="tabs_player__album_info">{% trans "About the album" %}</li>
                    <li id="tabs_player__lyrics">{% trans "Lyrics" %}</li>
                    <li id="tabs_player__comments">{% trans "Comments for the track" %}</li>
                    <li id="tabs_player__playlist">{% trans "Playlist" %}</li>
                </ul>

            </div>

            <div id="trackinfo_panel">
                <div class="tabcontent" id="tabcontent_tabs_player__info"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__album_info"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__lyrics"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__buy"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__comments"></div>
                <div class="tabcontent" id="tabcontent_tabs_player__playlist"></div>
            </div>

        </div>

    </div>

{% endblock %}

{% block analytics %}
    {% if not settings.DEBUG %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24510271-8']);
          _gaq.push(['_setDomainName', 'tvoeradio.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter17580454 = new Ya.Metrika({id:17580454, enableAll: true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/17580454" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
{% endblock %}
