<!DOCTYPE html>

{% load media %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Твоёрадио {{ settings.TVOERADIO_VERSION }}</title>
    <link rel="icon" href="{% media_url 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% media_url 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% media_url 'img/apple-touch-icon.png' %}" />
    {% include_media 'radio.css' %}
    <script type="text/javascript">
        var config = {
            'app_version': '{{ settings.TVOERADIO_VERSION }}',
            'mode': '{{ mode }}',
            'lastfm_api_url': '{{ settings.LASTFM_API_URL }}',
            'lastfm_api_key': '{{ settings.LASTFM_API_KEY }}',
            'lastfm_api_secret': '{{ settings.LASTFM_API_SECRET }}',
            'vk_api_id': '{{ settings.VK_APP_ID }}',
            'jplayer_swfpath': '{% media_url 'radio/js/3rdparty/jplayer/Jplayer.swf' %}'
        }
    </script>
    {% if mode == 'vk' %}
        <script src="http://vkontakte.ru/js/api/xd_connection.js?2" type="text/javascript"></script>
    {% else %}
        <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
    {% endif %}
    {% include_media 'radio.js' %}
    <script type="text/javascript">
        userdata.recent_stations.list = [];
    </script>
</head>
<body>

    <div style="display: none">
        <div class="infoblock infoblock_artist" id="infoblock_artist_template">
            <div class="infoblock__l">
                <h2 class="infoblock__header"></h2>
                <div class="infoblock__text"></div>
            </div>
            <div class="infoblock__r">
                <img class="infoblock_artist__picture" src="" alt="" />
                <br/>
                <div class="greenbutton">Слушать похожих</div>
            </div>
        </div>
        {% csrf_token %}
    </div>

    <div class="popup" id="popup_infoblock">
        <div class="popup__close">&nbsp;</div>
        <div class="popup__title">&nbsp;</div>
        <div class="popup__content"></div>
    </div>

    <div class="popup" id="popup_lastfm">
        <div class="popup__close">&nbsp;</div>
        <div class="popup__title">Last.fm</div>
        <div class="popup__content">
            <div id="popup_lastfm__auth1">
                <p></p>
                <span class="button">Начать авторизацию</span>
            </div>
            <div id="popup_lastfm__auth2">
                <p>Когда откроется сайт, и Вы подтвердите доступ к аккаунту, нажмите эту кнопку:</p>
                <span class="button">Авторизоваться</span>
            </div>
            <div id="popup_lastfm__authed">
                <span class="button">Выйти</span>
            </div>
        </div>
    </div>

    <div id="mp3player"></div>
    <div id="loader_fullscreen"><div id="loader_fullscreen__i"></div></div>

    <div id="page_tune" class="page">
        
        <div id="search-suggest">
            <input id="search-suggest__text" type="hidden" />
            <div id="search-suggest__artists">
                <span>Исполнители</span>
                <ul></ul>
            </div>
        </div>

        <div id="topnav"></div>

        <div id="search-widget">
            <span id="search-widget__label">поиск:</span><input id="search-widget__text" type="text" class="input_text" />
        </div>
        
        <div id="dashboard">
            <div class="dashboard__row">
                <div class="dashboard__cell">
                    <h2>Последнее в избранном</h2>
                </div>
                <div class="dashboard__cell">
                    <h2>Популярные исполнители</h2>
                </div>
            </div>
            <div class="dashboard__row">
                <div class="dashboard__cell">
                    <h2>Последнее прослушанное</h2>
                    <ul id="dashboard__recent_stations"></ul>
                </div>
                <div class="dashboard__cell">
                    <h2>Популярные теги</h2>
                    <div style="text-align: justify;">{% for tag in top_tags %} <span style="font-size: {{ tag.size }}%; vertical-align:middle">{{ tag.name }}</span>{% endfor %}</div>
                </div>
            </div>
        </div>
        
        <div id="search-result">

        </div>


    </div><!--page_tune-->

    <div id="page_player" class="page">

        <div id="controls">

            <div id="station">
                <span id="station_change">&#9664; <span>сменить волну</span></span>
                <div id="station_name"></div>
                <span id="menu_station_button" class="menu_button"><span>Станция</span> &#9660;</span>
                <ul id="menu_station" class="menu">
                    <li id="menu_station__poststatus" style="background-image:url({% media_url 'img/icons/balloon-white.png' %})">В статус</li>
                </ul><!--menu_station-->
            </div><!--station-->

            <div id="trackinfo">
                <img id="album_cover" alt="" src="{% media_url 'img/blank.gif' %}" />
                <div id="track_artist"></div>
                <div id="track_name"></div>
                <div id="album_name"><span id="album_artist"></span></div>
                <span id="menu_track_button" class="menu_button"><span>Песня</span> &#9660;</span>
                <ul id="menu_track" class="menu">
                    <li id="menu_track__love" style="background-image:url({% media_url 'img/icons/heart.png' %})">Last.fm: Нравится</li>
                    <li id="menu_track__poststatus" style="background-image:url({% media_url 'img/icons/balloon-white.png' %})">В статус</li>
                </ul><!--menu_track-->
            </div><!--trackinfo-->

            <div id="buttons">
				<div id="button_previous" class="control_button" title="Предыдущий"></div>
                <div id="button_pause" class="control_button" title="Пауза"></div>
				<div id="button_play" class="control_button" title="Продолжить"></div>
				<div id="button_next" class="control_button" title="Пропустить"></div>
                <div id="slider_volume" class="control_slider" title="Громкость"><span></span></div>
				<div id="slider_seek" class="control_slider"><div></div><span></span></div>
            </div><!--buttons-->

            <ul class="tabs tabs_dark" id="tabs_player">
                <li class="active" id="tabs_player__info">Об исполнителе</li>
                <li id="tabs_player__lyrics">Текст песни</li>
                <li id="tabs_player__playlist">Плейлист</li>
            </ul><!--tabs-->

        </div><!--controls-->

        <div id="trackinfo_panel">
            <div class="tabcontent" id="tabcontent_tabs_player__info"></div>
            <div class="tabcontent" id="tabcontent_tabs_player__lyrics">
                <div class="infoblock-loader"></div>
            </div>
            <div class="tabcontent" id="tabcontent_tabs_player__playlist"></div>
        </div><!--trackinfo_panel-->

    </div><!--page_player-->

</body>
</html>
