{% extends 'base_error.html' %}

{% block title_text %}Обновите ваш браузер{% endblock %}
{% block content %}
    <p>Браузер Internet Explorer {{ version }} устарел и не может открыть приложение «Твоёрадио».</p>
    <p><a href="http://ie.yandex.ru/" class="bluebutton">Обновить Internet Explorer</a></p>
    <p>Вы также можете попробовать настольное приложение «<a href="/desktop/">Твоёрадио&nbsp;Десктоп</a>» или один из альтернативных браузеров:</p>
    <ul class="browsers">
        <li class="chrome"><a href="https://www.google.com/chrome/">Google Chrome</a></li>
        <li class="firefox"><a href="http://getfirefox.com/">Mozilla Firefox</a></li>
        <li class="safari"><a href="http://www.apple.com/safari/">Apple Safari</a></li>
        <li class="opera"><a href="http://opera.com/">Opera</a></li>
    </ul>
    <p class="smallgray"><a href="{{ ignore_url }}"><br/><br/>Игнорировать эту ошибку и продолжить</a> (работоспособность приложения в данном случае не гарантируется)</p>
{% endblock %}
