{% extends 'base_error.html' %}

{% load i18n %}

{% block title_text %}{% trans "Update your browser" %}{% endblock %}
{% block content %}
    <p>{% blocktrans %}Internet Explorer {{ version }} is obsolete and cannot launch Tvoeradio.{% endblocktrans %}</p>
    <p class="center"><a target="_blank" href="http://ie.yandex.ru/" class="bluebutton">{% trans "Update Internet Explorer" %}</a></p>
    <p>{% trans "You can also check out our application called <a target=\"_blank\" href=\"/desktop/\">Tvoeradio Desktop</a> or one of other browsers:" %}</p>
    <ul class="browsers">
        <li class="chrome"><a target="_blank" href="https://www.google.com/chrome/">Google Chrome</a></li>
        <li class="firefox"><a target="_blank" href="http://getfirefox.com/">Mozilla Firefox</a></li>
        <li class="safari"><a target="_blank" href="http://www.apple.com/safari/">Apple Safari</a></li>
        <li class="opera"><a target="_blank" href="http://opera.com/">Opera</a></li>
    </ul>
    <p class="smallgray">{% blocktrans %}<a href="{{ ignore_url }}"><br/><br/>Ignore this error and continue to the app</a> (but it may not work then){% endblocktrans %}</p>
{% endblock %}
