{% extends 'base.html' %}

{% load media %}

{% block title_text %}Вход{% endblock %}
{% block css %}{% include_media 'radio.css' %}{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?42"></script>
    <script type="text/javascript">
        VK.init({apiId: {{ settings.VK_APP_ID }}});
        $(document).ready(function() {
            VK.UI.button('login__button');
            $('#login__button').click(function(){
                VK.Auth.login(function(data) {
                    if (data.session) {
                        var url = '{% url login_proceed %}';
                        var params = {
                            'uid': data.session.user.id,
                            'first_name': data.session.user.first_name,
                            'last_name': data.session.user.last_name,
                            'expire': data.session.expire,
                            'mid': data.session.mid,
                            'secret': data.session.secret,
                            'sid': data.session.sid,
                            'sig': data.session.sig
                        };
                        window.location.href = url + '?' + $.param(params);
                    }
                }, {{ settings.VK_APP_SETTINGS }});
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div id="login">
        <div id="login__button"></div>
    </div>
{% endblock %}